h1{
    color: red;
    text-align: center
}
h2{
    color: red;
    text-align: center
}
h3{
    color: red;
}
body{
    background-color: aliceblue;
    color: green;
    text-align: center
}
h4{
    color: red;
}
h5{
    color: red;
}
link{
    color: bisque;
}